:root {
    --main-color: #fccfcf;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    transition: transform 0.3s ease; /*//////////////*/
    background-color: #fafafa;
}

/* js로 show & hidden 기능 구현 */
.show_nav {
    transform: translateX(200px); /*//////////////*/
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    color: #fff;
    background-color: var(--main-color);
    border-right: 2px solid rgba(117, 116, 116, 0.1);
    z-index: 100;
    transform: translateX(-100%); /*//////////////*/
}

.logo {
    padding: 30px 0;
    text-align: center;
}

.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
#navbar ul {
    padding: 0;
}

#navbar li {
    padding: 25px 20px;
    list-style: none;
    border-top: 2px solid rgba(117, 116, 116, 0.1);
}

#navbar li:last-child {
    border-bottom: 2px solid rgba(117, 116, 116, 0.1);
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(172, 169, 169);
    text-decoration: underline;
}

/* header */
header {
    position: relative;
    padding: 40px 15px;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
    font-size: 130%;
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

.toggle {
    position: absolute;
    top: 25px;
    left: 20px;
    padding: 5px 10px;
    color: #fafafa;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

#open {
    padding: 12px 30px;
    margin-top: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

/* modal */
.modal-container {
    display: none; /* 전체 페이지 깔리기 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-container .show-modal {
    display: block;
}

.modal {
    position: absolute;
    overflow: hidden;
    /* 정중앙 위치 */
    top: 50%;
    left: 50%;
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    transform: translate(-50%, -50%); /*//////////////*/

    animation-name: modalopen; /*//////////////*/
    animation-duration: 1s; /*//////////////*/
}

.modal-header {
    padding: 15px;
    color: #fff;
    background: var(--main-color);

    font-size: 18px;
}

.modal-header h3 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 6px;
    margin: 3px;
    background: transparent;
    font-size: 20px;
    border: none;
}

.modal-content {
    padding: 10px;
    text-align: center;
}

.modal-content p {
    margin: 10px;
    font-weight: 900;
    text-align: left;
}

.modal-form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
}

.modal-form div input {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(83, 51, 3);
    border-radius: 5px;
}

.submit-btn {
    padding: 8px 12px;
    margin-top: 10px;
    color: #fafafa;
    background-color: rgb(83, 51, 3);
    border: none;
    border-radius: 5px;
}
